# =========================================
# BUDDY — ENVIRONMENT CONFIGURATION
# =========================================

# -----------------------------
# General
# -----------------------------
BUDDY_NAME=Buddy
BUDDY_LANGUAGE=en-US
DEBUG_MODE=True
LOG_LEVEL=INFO


PORCUPINE_ACCESS_KEY=PORCUPINE_ACCESS_KEY